<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparador TAG</title>
    <link rel="stylesheet" type="text/css" href="/static/css/loader.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
</head>
<body id="app">

    <div id="loader" v-show="loader"></div>

    <div v-show="!loader"> 
        <table class="center">
            <thead>
                <tr>
                    <th >
                        Livro
                    </th>
                    <th> 
                        TAG
                    </th>
                    <th> 
                        GoodReads
                    </th>
                </tr>
            </thead>
            <tbody v-for="book in books">
              <tr>
                <td>
                    {{ book.name | capitalize }}
                </td>
                <td> 
                    {{ book.tag_rating ? book.tag_rating: 'n/A'   }}
                </td>
                <td> 
                    {{ book.goodreads_rating ? book.goodreads_rating: 'n/A'  }}
                </td>
              </tr>
            </tbody>
        </table>
    
        <footer>
            <div class="info">
                <p>Alycio Bertazzo Neto [ 28/08/2017 - 01/09/2017 ]</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>