footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    display: inline-block;
    height: 70px;
    background-color: #999;
}

.info {
  width: 50%;
  float: left;
}
p {
  padding-left: 10%;
  color: white;
  font-size: 1em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
