 table {
  border: 2px solid #0099B1;
  border-radius: 5px;
  background-color: #fff;
  width: 30%;
  margin: 2% auto 5%;
}

th {
  background-color: #0099B1;
  color: rgb(255, 255, 255);
  height: 40px;
}

td {
  background-color: #F0F0F0;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
  text-align: center;
}
  